/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

form {
    width: 50%;
    margin: 35px auto 100px;
    display: flex block;
    float: initial;
}

.mat-form-field {
    width: 100%;
}

.misc-bottom-padding {
    margin: 50px 0 20px;
}

.misc-bottom-padding mat-label {
    margin-right: 15px;
}


.title-center {
    margin: 0 auto;
}

.button-wrapper {
    margin-top: 10px;
}