<mat-card style="margin-bottom: 10px;">
   
    <mat-card-content>
        <form method="post" [formGroup]="premiumForm" novalidate>
            <mat-card-title>Premium calculator</mat-card-title>
            <div class="container col-md-12">
                <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Name" value="" formControlName="name">
                    <mat-error *ngIf="errorHandling('name', 'required')">
                        Please enter <strong>Name</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-12">
                <mat-form-field>
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dob"
                    (dateChange)="onDateChange($event.value)" [max]="maxDate" [min]="minDate">
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="errorHandling('dob', 'required')">
                        Please select <strong>Date of Birth</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field class="example-full-width">
                    <mat-label>Age</mat-label>
                    <input matInput type="number" id="Age" disabled="true" placeholder="Age" value="" readonly="true">

                </mat-form-field>
            </div>
            <div class="container col-md-12">
                <mat-form-field class="example-full-width">
                    <mat-label>Sum Insured</mat-label>                    
                    <input type="number" matInput name="sumInsured" value="" 
                    placeholder="Sum Insured" value="" formControlName="sumInsured">                    
                    <mat-error *ngIf="errorHandling('sumInsured', 'required')">
                        Please enter <strong>Sum Insured</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field appearance="fill">
                    <mat-label>Occupation</mat-label>
                    <mat-select [(ngModel)]="selectedOccupation">
                        <mat-option *ngFor="let occupation of occupations" [value]="occupation">
                            {{occupation.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
    </mat-card-content>
</mat-card>